
<figure class="row project-row" id="tunebook">
  <figcaption>
    <div class="col-xs-8 col-md-4 info-buttons">
      <a class="show-info show-btn"><strong>Show info</strong></a>
      <a class="hide-info show-btn hidden"><strong>Hide info</strong></a>
    </div>
    <div class="col-xs-8 col-md-4 project-descr-wrapper">
      <div class="hyphens">

          <p>Tunebook is a very simple RESTful web app, and also my first project working with the MEAN stack. The app allows the user to create a personal account, log in, search through Spotify's database of artists, albums and tracks, get a preview listen to any track, and play the full track on Spotify's Web Player... That's it!</p>

          <p>The development roadmap included:</p>

          <ul>
            <li>setting up a development environment with MongoDB, Express, Angular2, and Node, </li>
            <li>designing and implementing a system architecture with 5+ routes,</li>
            <li>designing and implementing a NoSQL database using Mongoose, MongoDB, and mLab/AWS,</li>
            <li>setting up user authentication for login with Passport and JSON Web Tokens (JWT),</li>
            <li>setting up user authorization for profile and dashboard routes with the angular2-jwt module,</li>
            <li>integrating with the Spotify API,</li>
            <li>designing 8 components and 3 services with Angular2, as well as integrating front-end with back-end,</li>
            <li>front-end design with Bootstrap and Sketch,</li>
            <li>making the app mobile-responsive with Bootstrap and FlexBox,</li>
            <li>deploying the app with Heroku.</li>
          </ul>

          <strong><p>Technologies used:</p></strong>
          <div class="row skill-logos-small">
            <div class="skill-frame-small">
              <%= image_tag "nodejs-logo.png", class: "skill-logo-small-node", title: "Node.js" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "mongodb-logo.png", class: "skill-logo-small-mongodb", title: "MongoDB" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "express-logo.png", class: "skill-logo-small-express", title: "Express" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "angular-logo.svg", class: "skill-logo-small", title: "Angular2" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "html5-logo.svg", class: "skill-logo-small", title: "HTML5" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "css3-logo.svg", class: "skill-logo-small", title: "CSS3" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "js-logo.svg", class: "skill-logo-small", title: "JavaScript" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "jquery-logo.svg", class: "skill-logo-small", title: "jQuery" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "bootstrap-logo.svg", class: "skill-logo-small", title: "Bootstrap" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "sketch-logo.svg", class: "skill-logo-small", title: "Sketch" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "git-logo.svg", class: "skill-logo-small", title: "Git" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "github-logo.svg", class: "skill-logo-small", title: "GitHub" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "heroku-logo.png", class: "skill-logo-small", title: "Heroku" %>
            </div>
          </div>

          <div class="figcation-links">
            <strong><p>Links:</p></strong>
            <ul>
              <li><a href="https://tunebook.herokuapp.com" target="_blank"><p>https://tunebook.herokuapp.com</p></a></li>
              <li><a href="https://github.com/charliejeppsson/tunebook" target="_blank"><p>https://github.com/charliejeppsson/tunebook</p></a></li>
            </ul>
          </div>

      </div>
    <div>
  </figcaption>
  <a href="https://tunebook.herokuapp.com" class="project-link" target="_blank"></a>
</figure>

