
  <figure class="row project-row" id="unify">
    <figcaption>
      <div class="col-xs-8 col-md-4 info-buttons">
        <a class="show-info show-btn"><strong>Show info</strong></a>
        <a class="hide-info show-btn hidden"><strong>Hide info</strong></a>
      </div>
      <div class="col-xs-8 col-md-4 project-descr-wrapper">
        <div class="hyphens">

          <p>The idea of Unify is to be the "Happn" for the professional network. That is, helping professionals network more effectively with a location-based event platform.</p>

          <p>First, the web app allows organizations to create digital pages for events with networking potential.</p>

          <p>Second, it enables other users to attend, check in (only during the actual event and if within a radius of one kilometer from the event location), see other attendants along with information collected from their LinkedIn account, and connect and chat with others who are checked in. Thus enabling them to network more effectively.</p>

          <p>Unify was my first complete Rails web app. I built it together with three classmates over the last two weeks of <strong><a href="https://www.lewagon.com/" target="_blank">Le Wagon's web development bootcamp</a></strong>. I was appointed lead developer by my group, and as such i was solely responsible for:</p>

          <ul>
            <li>administrating the master branch on GitHub,</li>
            <li>registering the domain and its SSL certificate via Gandi,</li>
            <li>and ultimately deploying the app with Heroku.</li>
          </ul>

          <p>However, I also contributed to most of the other steps on the product development journey, including:</p>

          <ul>
            <li>product design planning with Google's Design Sprint model,</li>
            <li>designing and implementing a system architecture with 50+ routes,</li>
            <li>designing and implementing a database schema with 9 models and 7 controllers,</li>
            <li>prototyping the front-end design with Figma,</li>
            <li>making the app mobile-responsive with Bootstrap and FlexBox,</li>
            <li>configuring and customizing Devise for user authentication,</li>
            <li>integrating with the LinkedIn API,</li>
            <li>integrating with the Google Maps JavaScript API,</li>
            <li>integrating with the Google Places API,</li>
            <li>configuring an admin interface with RailsAdmin,</li>
            <li>allowing image uploading with CarrierWave and Cloudinary,</li>
            <li>implementing a real-time chat with ActionCable and Redis,</li>
            <li>and registering the domain name with Gandi and deploying with Heroku.</li>
          </ul>

          <strong><p>Technologies used:</p></strong>
          <div class="row skill-logos-small">
            <div class="skill-frame-small">
              <%= image_tag "ruby-logo.png", class: "skill-logo-small", title: "Ruby" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "rails-logo.png", class: "skill-logo-small", title: "Ruby on Rails" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "postgresql-logo.svg", class: "skill-logo-small", title: "PostgreSQL" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "html5-logo.svg", class: "skill-logo-small", title: "HTML5" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "css3-logo.svg", class: "skill-logo-small", title: "CSS3" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "js-logo.svg", class: "skill-logo-small", title: "JavaScript" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "jquery-logo.svg", class: "skill-logo-small", title: "jQuery" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "bootstrap-logo.svg", class: "skill-logo-small", title: "Bootstrap" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "sass-logo.svg", class: "skill-logo-small", title: "SASS" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "figma-logo.png", class: "skill-logo-small", title: "Sketch" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "git-logo.svg", class: "skill-logo-small", title: "Git" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "github-logo.svg", class: "skill-logo-small", title: "GitHub" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "heroku-logo.png", class: "skill-logo-small", title: "Heroku" %>
            </div>
            <div class="skill-frame-small">
              <%= image_tag "gandi-logo.png", class: "skill-logo-small", title: "Gandi" %>
            </div>
          </div>

          <strong><p>Links:</p></strong>
          <ul>
            <li><a href="http://uni-fy.eu" target="_blank"><p>http://uni-fy.eu</p></a></li>
            <li><a href="https://le-wagon-unify.herokuapp.com" target="_blank"><p>https://le-wagon-unify.herokuapp.com</p></a></li>
            <li><a href="https://github.com/charliejeppsson/rails-unify" target="_blank"><p>https://github.com/charliejeppsson/rails-unify</p></a></li>
          </ul>

        </div>
      </div>
    </figcaption>
  </figure>

