
  <figure class="row project-row" id="inline">
    <figcaption>
      <button class="show-info show-btn"><strong>Show info</strong></button>
      <button class="hide-info show-btn hidden"><strong>Hide info</strong></button>
      <div class="col-xs-8 col-md-4 project-descr-wrapper">
        <div class="hyphens">

            <p>InLine was the result of some three weeks work, where I independently managed the product design and development. The idea of the web app is to digitize all types of physical queues, including the lines at airports, hospitals and banks. Why waste your precious time with waiting in a physical line, when you can let a digital avatar do the waiting for you?</p>

            <p>InLine does just that - it allows organizations to create virtual lines that their clients can let their avatars participate in, thus enabling them to spend their waiting time as they wish. They can also see the estimated time left to their turn, get directions to the line's location and chat with the admins of the line. The development roadmap included:</p>

            <ul>
              <li>designing and implementing a system architecture with 40+ routes,</li>
              <li>designing and implementing a database schema with 8 models and 9 controllers,</li>
              <li>prototyping the front-end design with Sketch,</li>
              <li>making the app mobile-responsive with Bootstrap and FlexBox,</li>
              <li>configuring and customizing Devise for user authentication,</li>
              <li>configuring Pundit for user authorization,</li>
              <li>integrating with the Facebook API,</li>
              <li>integrating with the Google Maps JavaScript API,</li>
              <li>integrating with the Google Places API,</li>
              <li>allowing image uploading with CarrierWave and Cloudinary,</li>
              <li>implementing a real-time chat with ActionCable, ActiveJob and Redis,</li>
              <li>and registering the domain name with Gandi and deploying with Heroku.</li>
            </ul>

            <strong><p>Technologies used:</p></strong>
            <div class="row skill-logos-small">
              <div class="skill-frame-small">
                <%= image_tag "ruby-logo.png", class: "skill-logo-small", title: "Ruby" %>
              </div>
              <div class="skill-frame-small">
                <%= image_tag "rails-logo.png", class: "skill-logo-small", title: "Ruby on Rails" %>
              </div>
              <div class="skill-frame-small">
                <%= image_tag "postgresql-logo.svg", class: "skill-logo-small", title: "PostgreSQL" %>
              </div>
              <div class="skill-frame-small">
                <%= image_tag "html5-logo.svg", class: "skill-logo-small", title: "HTML5" %>
              </div>
              <div class="skill-frame-small">
                <%= image_tag "css3-logo.svg", class: "skill-logo-small", title: "CSS3" %>
              </div>
              <div class="skill-frame-small">
                <%= image_tag "js-logo.svg", class: "skill-logo-small", title: "JavaScript" %>
              </div>
              <div class="skill-frame-small">
                <%= image_tag "jquery-logo.svg", class: "skill-logo-small", title: "jQuery" %>
              </div>
              <div class="skill-frame-small">
                <%= image_tag "bootstrap-logo.svg", class: "skill-logo-small", title: "Bootstrap" %>
              </div>
              <div class="skill-frame-small">
                <%= image_tag "sass-logo.svg", class: "skill-logo-small", title: "SASS" %>
              </div>
              <div class="skill-frame-small">
                <%= image_tag "sketch-logo.svg", class: "skill-logo-small", title: "Sketch" %>
              </div>
              <div class="skill-frame-small">
                <%= image_tag "git-logo.svg", class: "skill-logo-small", title: "Git" %>
              </div>
              <div class="skill-frame-small">
                <%= image_tag "github-logo.svg", class: "skill-logo-small", title: "GitHub" %>
              </div>
              <div class="skill-frame-small">
                <%= image_tag "heroku-logo.png", class: "skill-logo-small", title: "Heroku" %>
              </div>
              <div class="skill-frame-small">
                <%= image_tag "gandi-logo.png", class: "skill-logo-small", title: "Gandi" %>
              </div>
            </div>

            <strong><p>Links:</p></strong>
            <ul>
              <li><a href="http://inline-app.com" target="_blank"><p>https://inline-app.com</p></a></li>
              <li><a href="https://inline-app.herokuapp.com" target="_blank"><p>https://inline-app.herokuapp.com</p></a></li>
              <li><a href="https://github.com/charliejeppsson/inline" target="_blank"><p>https://github.com/charliejeppsson/inline</p></a></li>
            </ul>

        </div>
      <div>
    </figcaption>
  </figure>

