
<figure class="row project-row" id="apphunt">
  <figcaption>
    <div class="col-xs-8 col-md-4 info-buttons">
      <a class="show-info show-btn"><strong>Show info</strong></a>
      <a class="hide-info show-btn hidden"><strong>Hide info</strong></a>
    </div>
    <div class="col-xs-8 col-md-4 project-descr-wrapper">
      <div class="hyphens">

        <p>Apphunt is a simple project meant to resemble Producthunt, for the purpose of playing with React.js, Elasticsearch and jBuilder in a Rails environment. The idea is a RESTful api that allows registered users to post ads for apps they either want to sell or pay someone to develop.</p>

        <p>The development journey included:</p>

        <ul>
          <li>product design planning with Google's Design Sprint model,</li>
          <li>11 React.js components, with the help of the react-rails gem,</li>
          <li>components allowing the user to search for products with Elasticsearch and receive results real-time,</li>
          <li>components enabling the user to upvote and comment on products, also real-time,</li>
          <li>designing and implementing a database schema with 4 models and 2 controllers, using ActiveRecord and PostgreSQL,</li>
          <li>prototyping the front-end design with Sketch,</li>
          <li>configuring and customizing Devise for user authentication,</li>
          <li>and deploying with Heroku.</li>
        </ul>

        <strong><p>Technologies used:</p></strong>
        <div class="row skill-logos-small">
          <div class="skill-frame-small">
            <%= image_tag "ruby-logo.png", class: "skill-logo-small", title: "Ruby" %>
          </div>
          <div class="skill-frame-small">
            <%= image_tag "rails-logo.png", class: "skill-logo-small", title: "Ruby on Rails" %>
          </div>
          <div class="skill-frame-small">
            <%= image_tag "react-logo.png", class: "skill-logo-small", title: "React.js" %>
          </div>
          <div class="skill-frame-small">
            <%= image_tag "postgresql-logo.svg", class: "skill-logo-small", title: "PostgreSQL" %>
          </div>
          <div class="skill-frame-small">
            <%= image_tag "elasticsearch-logo.png", class: "skill-logo-small", title: "Elasticsearch" %>
          </div>
          <div class="skill-frame-small">
            <%= image_tag "html5-logo.svg", class: "skill-logo-small", title: "HTML5" %>
          </div>
          <div class="skill-frame-small">
            <%= image_tag "css3-logo.svg", class: "skill-logo-small", title: "CSS3" %>
          </div>
          <div class="skill-frame-small">
            <%= image_tag "js-logo.svg", class: "skill-logo-small", title: "JavaScript" %>
          </div>
          <div class="skill-frame-small">
            <%= image_tag "jquery-logo.svg", class: "skill-logo-small", title: "jQuery" %>
          </div>
          <div class="skill-frame-small">
            <%= image_tag "bootstrap-logo.svg", class: "skill-logo-small", title: "Bootstrap" %>
          </div>
          <div class="skill-frame-small">
            <%= image_tag "figma-logo.png", class: "skill-logo-small", title: "Sketch" %>
          </div>
          <div class="skill-frame-small">
            <%= image_tag "git-logo.svg", class: "skill-logo-small", title: "Git" %>
          </div>
          <div class="skill-frame-small">
            <%= image_tag "github-logo.svg", class: "skill-logo-small", title: "GitHub" %>
          </div>
          <div class="skill-frame-small">
            <%= image_tag "heroku-logo.png", class: "skill-logo-small", title: "Heroku" %>
          </div>
        </div>
        <div class="figcation-links">
          <strong><p>Links:</p></strong>
          <ul>
            <li><a href="https://app-hunt.herokuapp.com" target="_blank"><p>https://app-hunt.herokuapp.com</p></a></li>
            <li><a href="https://github.com/charliejeppsson/apphunt" target="_blank"><p>https://github.com/charliejeppsson/apphunt</p></a></li>
          </ul>
        </div>

      </div>
    </div>
  </figcaption>
  <a href="https://app-hunt.herokuapp.com" class="project-link" target="_blank"></a>
</figure>

